In [7]:
import sys
print(f'Python {sys.version_info.major}.{sys.version_info.minor}.{sys.version_info.micro}')
import numpy as np
print(f'NumPy {np.__version__}')
import pandas as pd
print(f'Pandas {pd.__version__}')
#Python 3.10.5
#NumPy 1.23.0
#Pandas 1.4.3

Python 3.10.5
NumPy 1.23.0
Pandas 1.4.3

In [ ]:
<p style="color:royalblue;"> Задание 2.6 </p>
<p style="color:orangered;"> Задание 2.6 </p>

<style>
    b { color: royalblue} 
    o { color: orangered}
</style>
<b></b>
<o></o>

## <b style="color:orangered;">Series</b> — это упорядоченная изменяемая коллекция объектов, имеющая так называемые ассоциативные метки (индексы). 
#### Есть два способа создания ***Series***

##### Первый способ:

In [5]:
countries = pd.Series(
    data = ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'],
    name = 'countries'
)
display(countries)

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

##### Второй способ:

In [6]:
countries = pd.Series({
    'UK': 'Англия',
    'CA': 'Канада',
    'US' : 'США',
    'RU': 'Россия',
    'UA': 'Украина',
    'BY': 'Беларусь',
    'KZ': 'Казахстан'},
    name = 'countries'
)
display(countries)

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

***<b style="color:royalblue;">.loc</b>*** вызывается с квадратными скобками, в которые передаются метки. В него можно передать как один индекс, так и список, чтобы получилось несколько элементов. 
***<b style="color:royalblue;">.iloc</b>*** также вызывается с квадратными скобками и принимает на вход порядковые номера элементов Series (нумерация начинаются с 0). В него можно так же передавать как один индекс, так и диапазон чисел.

In [ ]:
print(countries.loc['US'])
# США

print(countries.loc[['US', 'RU', 'UK']])
# US       США
# RU    Россия
# UK    Англия
# Name: countries, dtype: object

print(countries.iloc[6])
# Казахстан

print(countries.iloc[1:4])
# CA    Канада
# US       США
# RU    Россия
# Name: countries, dtype: object

На самом деле ***`loc`*** и ***`iloc`*** можно опустить и обращаться к элементам ***`Series`*** напрямую по индексам, например ***`countries[[‘UK’, 'US', ‘UA’]]`*** или ***`countries[[0, 2, 4]]`***. Оба варианта являются равноправными для ***`Series`***, однако в дальнейшем мы будем использовать эти операции при обращении к более сложной структуре — ***`DataFrame`***, а в контексте этой структуры эти варианты уже неравноправны.*

## <b style="color:orangered;">DataFrame</b>  как структура данных

> #### <b>Примечание.</b> В дальнейшем слова *`DataFrame`* и *`таблица`* будут употребляться как синонимы. Также синонимами в Data Science являются слова *столбец таблицы* и *признак*.

DataFrame создаётся с помощью функции **`pd.DataFrame()`**. Так же, как и для Series, для создания объектов DataFrame есть несколько способов:

**Первый способ**:

Самый простой способ создания **`DataFrame`** — из словаря, **`ключами`** которого являются имена столбцов будущей таблицы, а **`значениями`** — списки, в которых хранится **`содержимое этих столбцов`**:

In [19]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})


countries_df.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
# можно добавить индексы самому
display(countries_df)

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

**Второй способ:**

Также **`DataFrame`** можно создать из вложенного списка, внутренние списки которого будут являться строками новой таблицы:

In [17]:
countries_df = pd.DataFrame(
    data = [
        ['Англия', 56.29, 133396],
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
    ],
    columns= ['country', 'population', 'square'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
)
display(countries_df)

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

## <b style="color:orangered;">Axis</b> в DataFrame



>При работе с Pandas важно уметь указывать направление работы метода, который используется. Для этого вводится понятие `axis` (ось, координата). Движение по строкам в таблице обозначается `axis` с индексом 0, а движение по столбцам — `axis` с индексом `1`.
>
>Данный параметр заложен во все методы, которые могут работать в двух направлениях и по умолчанию в большинстве из них `axis=0`, то есть они выполняют операции со строками, если не задавать `axis` вручную.

#### ***`mean()`*** — вычисление среднего по таблице

##### Считаем **среднее по строкам** (axis = 0) в каждом столбце:

In [42]:
print(countries_df.iloc[:,1:].mean(axis=0))

population    9.070000e+01
square        5.800860e+06
dtype: float64

##### Считаем **среднее по столбцам** (axis = 1) в каждой строке:

In [41]:
print(countries_df.iloc[:,1:].mean(axis=1))

UK      66726.145
CA    4992354.025
US    4913476.140
RU    8562668.620
UA     301836.750
BY     103804.750
KZ    1362459.520
dtype: float64

## <b style="color:orangered;">Доступ к данным</b> в DataFrame

Обратиться к DataFrame по **`индексу`** и указать имя столбца:

In [25]:
print(countries_df['population'])

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64

In [32]:
print('Получим площадь Великобритании:')
print(countries_df.loc['UK', 'square'])
print()
print('Получим население и площадь, соответствующие России:')
print(countries_df.loc['RU', ['population', 'square']])
print()
print('Сделаем вырезку из таблицы и получим информацию о населении и площади, соответствующую Украине, Беларуси и Казахстану:')
print(countries_df.loc[['UA', 'BY', 'KZ'],['population', 'square']])
print()
print('или')
print(countries_df.iloc[4:8, 1:3])

Получим площадь Великобритании:
133396

Получим население и площадь, соответствующие России:
population      146.24
square        17125191
Name: RU, dtype: object

Сделаем вырезку из таблицы и получим информацию о населении и площади, соответствующую Украине, Беларуси и Казахстану:
    population   square
UA       45.50   603628
BY        9.50   207600
KZ       17.04  2724902

или
    population   square
UA       45.50   603628
BY        9.50   207600
KZ       17.04  2724902